.animated_content {
    position: absolute;
    top: 64px;
    z-index: -10;
  animation: moveCircle 1.3s infinite alternate ease-in-out;

}

@keyframes moveCircle {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(15px);
    }
  }